.Btitle{
    width: 100%;
    text-align: center;
    font-family: "Microsoft JhengHei Light", Sans-serif, serif;
    border-bottom: 1px solid #ccc;
    background: #15a0e8;
    color: #fff;
    margin-bottom: 20px;
}
#ContentBox{
    max-width: 800px;
    background: #fff;
}
.list-group .list-group-item{
    border: none;
    padding: 0;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
.list-group .list-group-item:last-child{
    padding: 0;
    border: none;
}
.list-group .list-group-item-heading,.Cindex{
    background: #65b9ec;
    height: 30px;
    text-align: left;
    border-radius: 10px;
    text-indent: 1em;
    font: 16px/30px "Microsoft YaHei";
    color: #ffffff;
    font-weight: bold;
    overflow:hidden;
    text-overflow:ellipsis;
    
}
.list-group .list-group-item-heading span{
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    font-weight: 100;
}

.list-group .list-group-item .dataBox{
    width: 100%;
    border: 1px solid #b2b4b9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.list-group .list-group-item .dataBox .datalist{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.list-group .list-group-item .dataBox .datalist li{
    height: 100%;
    text-align: center;
    float: left;
    font: 18px/50px "Microsoft JhengHei Light";
    color: #000;
}
.list-group .list-group-item .dataBox .datalist li:nth-child(1) {
    width: 55%;
    border-right: 1px solid #dbdbdd;
}
.list-group .list-group-item .dataBox .datalist li:nth-child(2) {
    width: 20%;
    border-right: 1px solid #dbdbdd;
}
.list-group .list-group-item .dataBox .datalist li:nth-child(3) {
    width: 25%;
}

.list-group .list-group-item .dataBox .datalist.listHead li{
    background: #e5e7eb;
    border-bottom: 1px solid #dbdbdd;
}
.list-group .list-group-item .dataBox .datalist.listFoot li{
    background: #e5e7eb;
}
.list-group .list-group-item .dataBox .datalist.list{
    border-bottom: 1px solid #dbdbdd;
}
div.button{
    width: 100px;
    height: 45px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #15a0e8;
    margin: 20px auto;
    text-align: center;
    font: 16px/45px "Microsoft YaHei UI";
    color: #fff;
    user-select: none;
}
div.button:active{
    background: #147eba;
}
